* {
    box-sizing: border-box;
}
body {
       font-family: 'Arial', sans-serif;
}
.scene {
     width: 100%;
     height: 100%;
	 min-height: 500px;
	 position: relative;
	 top: 0px;
	 left: 0px;
	 background-color: #FFF0F5;
	 transform: translate3d(0, 0, 0);
}
.layer-5 {
     animation: animation_fg linear 70s infinite both; 
	 background: url(https://i.ibb.co/xjpLQXm/image.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 512px;
}
.layer-4 {
     animation: animation_fg linear 60s infinite both; 
	 background: url(https://i.ibb.co/8mFrZMP/Mask-group-5.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 315px;
}
.layer-3 {
     animation: animation_fg linear 55s infinite both; 
	 background: url(https://i.ibb.co/G7Cf0Lg/Mask-group-3.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 266px;
}
.layer-2 {
     animation: animation_fg linear 35s infinite both; 
	 background: url(https://i.ibb.co/kgmfps7/Mask-group.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 111px;
}
.layer-1 {
     animation: animation_fg linear 35s infinite both; 
	 background:  url(https://i.ibb.co/Y84xCBt/Mask-group-8.png) 0 100% repeat-x;
	 z-index: 1;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 74px;
}
.object-1 {
     background: url(https://i.ibb.co/X8d59K6/Mask-group-10.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 0px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 277px;
	 animation: animation_object linear 15s infinite both;
}
.object-2 {
     background:  url(https://i.ibb.co/QbVxrbS/Mask-group-9.png) 0 100% no-repeat;
	 z-index: 1;
	 position: absolute;
	 bottom: 200px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-size: auto 255px;
	 animation: animation_object linear 10s infinite both;
}
.object-2 {
     animation: animation_object object-2 linear 10s infinite both;
}
@keyframes animation_fg {
 0% {
background-position: 2765px 100%;
}
100% {
    background-position: 550px 100%;
  }
}
@keyframes animation_object {
0% {
background-position: -300px 100%;
}
  100% {
background-position: 2000px 100%;
}
}




     
	 
	 
	 

