body {
  background-color: transparent; 
  margin: 0 auto; 
}
#wrapper {
      margin: 0 auto;
      width: 100%; 
      text-align: center; 
}
nav {
    margin: 0 auto;
    margin-top: 3em;
    width: 1100px;
}
nav ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 1em 1em 1em 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: .01em;
  position: relative;
  padding: 1em 3em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #6D2E94;
}
nav li a {
      padding-bottom: 1em;
      text-decoration: none;
      cursor: pointer;
      font-size: 14px;
      padding: 21px;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial;
      color: #FFFAFA; 
}
nav ul li:hover {
  background-color: #B583D4;
}
nav ul li ul {
  padding: 0;
  position: absolute;
  top: 3.5em;
  left: 0;
  width: 16em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
nav ul li ul li { 
  background-color: #B583D4;
  display: block; 
  color: #ffffff;
  text-shadow: 0 1px 0 #000; 
}
nav ul li ul li:hover { 
background-color: #8F5EAD;
}
nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#wrapper-column {
width: 145%;
overflow: hidden;
}
.column {
float:left;
background: #6D2E94;
width: 48%;
height: 300x;
font-family: "Arial";
color: #ffffff;
}
.column2 {
float:left;
background: #8F5EAD;
width: 48%;
height: 300px;
font-family: "Arial";
color: #ffffff;
}
footer {
width: 145%;
background: #D8BFD8;
font-family: "Arial"
}

