* {
     box-sizing: border-box;
}

body {
     background: #ffffff;
     color: #fff;
}
.support-warning {
     background: #ccb11c;
     color: #000;
     display: block;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     opacity: 0.95;
     padding: 3rem;
     position: fixed;
     text-align: center;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 5;
}

.support-warning a {
     color: inherit;
}
.l-grid {
     display: flex;
     flex-wrap: wrap;
}

.l-grid > .l-grid__item {
     flex: 1 0 auto;
}

.l-grid--4x4 > .l-grid__item {
     width: 25%;
}

@supports(display: grid) {
     .support-warning {
          display: none;
     }
.l-grid--4x4 > .l-grid__item {
         width: auto;
     }
     
     .l-grid {
          display: grid;
     }
}
.l-grid--4x4 {
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(3, minmax(13rem, 1fr));
}

.l-span-column-2 {
     grid-column-start: span 2;
}

.l-span-row-2 {
     grid-row-start: span 2;
}

.l-full-height {
     min-height: 100vh;
}

.align-center {
     align-items: center;
     justify-content: center;
}

.content {
     padding: 3.5rem;
     max-width: 400px;
}
.heading {
     font-family: 'Arial', serif;
     font-size: 1.5rem;
     font-weight: 700;
     line-height: 1.2;
     margin-bottom: 1rem;
}

.description {
     font-family: 'Garamond', sans-serif;
     font-size: 1rem;
     line-height: 1.5;
}

}
.theme-rocketmetallic {
   background: #8F7F7F;
   color: #ffffff;
   }
 .img-background--pionsgray{
     background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://github.com/vkhisamutdinova/verstka1/blob/0fa73fb12084266bb44d980712bedc66c09df204/8ebe4147dff8f11ae399f34d2a64c923.jpg);
	 background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: #fff;
}
.img-background--pionspink{
     background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://content3.flowwow-images.com/data/blog/1562599250_29351868.jpg);
	 background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: #fff
}

.img-background--pionsdark{
     background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://github.com/vkhisamutdinova/verstka1/blob/0fa73fb12084266bb44d980712bedc66c09df204/6f56b541d5b36512717403a76e8da2c2.jpg);
	 background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: #fff
}  
 .theme-pastelpink {
   background: #E8ACAC;
   color: #ffffff;
}
.theme-bittersweetshimmer {
   background: #B85454;
   color: #ffffff;
}

